/cs350/Project #3 GUI Components/JavaApplication1/nbproject/private/
/cs350/Project #3 GUI Components/JavaApplication1/build/
/cs350/Project #3 GUI Components/CSampleTake2/nbproject/private/
/cs350/Project #3 GUI Components/CSampleTake2/build/